@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}


.ul
{
	margin: 0;
	padding: 0;
}



.header
{
	background-color: rgba(133, 147, 157, .3);
	width: 100%;
	height:320px;
	margin:0 auto;
	border-bottom: 3px solid rgba(133, 147, 157, .1);
	
}

.headerContainer
{
  background-color: rgba(255, 255, 255, .7);
  border-bottom: 3px solid rgba(133, 147, 157, .1);
  margin-bottom: 15px;
}

.footer
{
	background-color:rgba(133, 147, 157, .1);
	width: 100%;
	height:100px;
	margin:0 auto;
	margin-top: 0px;
	padding-top: 35px;
	border-top: 3px solid rgba(133, 147, 157, .3);
	color: #14537E;
	font-family: helvetica;
	font-size: 12px;
}

.footerMaterial
{
	width:990px;
	overflow:hidden;
	margin: 0 auto;
}

.footerMaterial p
{
	float: center	;
	margin-left:378px;
}

.wrap
{
	width:990px;
	overflow:hidden;
	margin:0 auto; 
	background-color: rgba(255, 255, 255, .7);
	border-left: 2px solid rgba(133, 147, 157, .1); 
	border: 4px solid rgba(133, 147, 157, .1); 
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 10px 10px 5px #EBEBEB; 
	margin-bottom: 30px;
}

.wrapMain
{ 
  width:990px;
	overflow:hidden;
	margin:0 auto; 
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	margin-top: 30px;
   
}

.introMain
{
  width:530px;
	overflow:hidden;
	margin:0 auto; 
	margin-top: 0px;
}

.introMain p
{
  color: rgba(53, 61, 67, .8);
  font-size: 14px;
}

.introMain h2
{
  color: #333;
  font-weight: 200;
  font-size:18px;
  font-family: helcetica;
  margin-top; 5px;
  line-height: 30px;
}
  

.menu
{
	width:990px;
	height:66px;
	overflow:hidden;
	margin: 0 auto;
}

	

.whiteline
{
	height:1px;
	width: 920px;
	outline-color:#FFF;
	border: none;
	background-color:#FFF;	
	
}

.menu ul li:first-child
{ 
  list-style:none;
	overflow:hidden;
	display:inline;
	font-family: "museo-slab-1","museo-slab-2",Helvetica,Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	margin-right:84px;
	margin-top: 5px;
}
  

.menu ul a
{
	list-style:none;
	overflow:hidden;
	display:inline;
	font-family: "museo-slab-1","museo-slab-2",Helvetica,Arial,sans-serif;
	font-size:14px;
	color: #14537E;
	text-decoration:none;
	margin-right:14px;
	margin-top: 5px;
	
}

.menu ul
{
  width: 805px;
  float: left;
  margin-top: 27px;
  margin-left: 0px;
}

.menu ul a:hover
{
	list-style:none;
	overflow:hidden;
	display:inline;
	font-family:Helvetica;
	font-size:14px;
	color:#14537E;
	text-decoration:underline;
	margin-right:14px;
}

.menu ul a:active
{
		color:#3264FB;
}

.logged
{
	list-style:none;
	overflow:hidden;
	font-family:Helvetica;
	font-size:16px;
	color:#3264FB;
	text-decoration:none;
	margin-right:14px;
	float:left;
}
.menu ul li
{
	display: inline;
}

.menu ul:a
{
	color: black;
}

.week
{
	width:986;
	margin: 0 auto;
	height: 50px;
	padding-top: 23px;
	text-align:center;
	background-color: rgba(255, 255, 255, .7);
}

.weekText
{
	font-family:Helvetica;
	font-size: 18px;
	font-weight:bold;
	text-align:center;
	
}

.sliderbar
{
	width:100%;
	overflow:hidden;
	height:229px;
}

.Content
{
	width:100%;
	overflow:hidden;
	margin: 0 auto;
	padding:0px;
	
}

.leftContent
{
	width:329px;
	overflow:hidden;
	margin:0px;
	float: left;
	padding-bottom: 30px;
}

.middleContent
{
	width:329px;
	overflow:hidden;
	margin:0px;
	margin-right:0px;
	float:left;
	border-left:solid;
	border-left-width:1px;
	border-left-color: #CCC;
	padding-bottom: 30px;
	border-right:solid;
	border-right-width:1px;
	border-right-color: #CCC;
	border-height: 500px;
}

.rightContent
{
	width:329px;
	overflow:hidden;
	margin:0px;
	float: left;
	padding-bottom: 30px;
	
}

.rightContentAbout
{
  width:628px;
	overflow:hidden;
	margin:0px;
	float: left;
	padding-bottom: 30px;
	border-left:solid;
	border-left-width:1px;
	border-left-color: #CCC;
}
  

.search
{
	width:100%;
	margin:5px;
	margin-top:23px;
	overflow:hidden;
}

.searchHeading
{
	font-family:Helvetica;
	font-size: 18px;
	font-weight:bold;
	text-align:center;
}

.blackLine
{
	height:7px;
	width: 250px;
	color:#000;
	outline-color:#000;
	border: none;
	background-color:#000;
	margin-bottom: 10px;
}

.blackLineLinks
{
	height:7px;
	width: 250px;
	color:#000;
	outline-color:#000;
	border: none;
	background-color:#000;
	margin-bottom: 20px;

}

.blackLineLong
{
	height:7px;
	width: 450px;
	color:#000;
	outline-color:#000;
	border: none;
	background-color:#000;
	margin-bottom: 10px;
}

.lectureHeading
{
	font-family:Helvetica;
	font-size: 18px;
	font-weight:bold;
	text-align:center;
	color: #14537E;
}

.lectureHeadSmall
{
	font-family:Helvetica;
	font-size: 13px;
	font-weight:bold;
	font-style:italic;
	text-align:center;

}

.dateSmall
{
  font-family:Helvetica;
	font-size: 12px;
	font-weight:bold;
	font-style:italic;
	text-align:center;
	color:#;
}

.lectureNumber
{
	font-family:Helvetica;
	font-size: 15px;
	font-weight:bold;
	text-align:center;
	margin-top: 5px;
	margin-bottom:10px;
}

.lectureNotesGrey
{
	overflow:hidden;
	text-align:center;
	padding-top: 8px;
	width:300px;
	background-color: rgba(133, 147, 157, .1);
	margin-left:14px;
	padding-bottom:15px;
	padding-top:10px;
	
}

.lectureNotes
{
	overflow:hidden;
	text-align:center;
	padding-top: 8px;
	width:300px;
	margin-left:14px;
	padding-bottom:15px;
	padding-top:10px;
	
}

.lectureMaterial
{
	width: 88%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom:20px;
	overflow: hidden;
}

.icon
{
	width: 34px;
	height: 48px;
	background-image:url(PDF.png);
	float: left;
	margin: 10px;
	margin-top:15px;
}

.lectureName
{
	font-family:Helvetica;
	font-size: 12px;
	font-weight:bold;
	text-align:center;
	margin-top: 30px;
	margin-bottom:10px;
}

.links
{
	font-family:Helvetica;
	font-size:12px;
	font-style:italic;
	font-weight:bold;
	color: #14537E;
	margin-right:34px;
	float: left;
}

.links:last-child
{
	margin-right:0px;
}

.linksDiv
{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom:0px;
	margin-left: 60px;
}

.groupSelector
{
  width:351px;
  float:right;
  text-align: right;
  margin-right: 20px;
}

.group
{
  font-family:Helvetica;
	font-size: 15px;
	font-weight:bold;
	text-align:left;
	width: 190px;
	margin: 16px 0px -21px 0px;

}

.select
{
  margin-bottom: 20px;
  width: 124px;
  height: 24px;
  background-color: #49555F;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  
}

.select:active
{
	color: black;
}

.dropDown
{
	height: 40px;
	width: 100px;
	float: right;
	margin-right: 40px;
}

.searchBox
{
	margin-left: 44px;
	width: 162px;
	height: 28px;
	margin-bottom: 20px;
	margin-top: 7px;
	margin-right: 5px;
}

.searchDiv
{
	margin-top: 0px;
	overflow: hidden;
}

.searchButton
{
	height: 35px;
	width:80px;
	color: green;
	background-image: url(button.png);
	border: none;
	float: right;
	margin-top: 7px;
	margin-right: 26px;
}

.searchButton:hover
{
	cursor: pointer;
}

.quickLinks
{
	

	
	clear:both;
	margin-left: 26px;
}
	ul.quickLinks, .quickLinks li
	{
		padding:0; 
		margin:0;
		
	}
	ul.quickLinks
	{
		clear:both;
		margin-top:15px;
		padding:6px 10px;
	}
.quickLinks li a
{
	color:#555555;
	font-weight:bold;
	display:block;
	border-top:solid 1px #DEDEDE;
	padding:4px;
	text-decoration:none;
	margin-top: 5px;
	margin-left: 26px;
			
}
.quickLinks li a:hover
{
	color:#14537E;;
}
}



.Grey
{
	overflow:hidden;
	padding-top: 8px;
	width:262px;
	background-color: #EBEBEB;
	margin-left:41px;
	padding-bottom:15px;
	padding-top:10px;
	
}

.weekName
{
  font-family: helvetica;

}

.whoWeAre
{
  width: 450px;
  font-family: helvetica;
  text-align: left;
  margin-left:90px;
  font-weight: bold;
  padding-top: 15px;
}
.contactUs
{
  width: 450px;
  font-family: helvetica;
  font-size:15px;
  text-align: left;
  margin-left:15px;
  font-weight: bold;
  padding-top: 10px;
}
.whatIsCSTimeline
{
  width: 450px;
  font-family: helvetica;
  text-align: left;
  margin-left:90px;
  font-weight: bold;
  padding-top: 15px;
}

.emptySpace
{
  width: 100%;
  height:25px;
}

.teamMember
{
  overflow:hidden;
	text-align:center;
	padding-top: 8px;
	width:253px;
	background-color: #EBEBEB;
	margin-left:38px;
	padding-bottom:15px;
	padding-top:10px;
}

.teamMemberWhite
{
  overflow:hidden;
	text-align:center;
	padding-top: 8px;
	width:253px;
	margin-left:38px;
	padding-bottom:10px;
	padding-top:10px;
}

.pictureJames
{
  width:51px;
  height:51px;
  background-image: url(james.jpg);
  float: left;
  margin: 10px;
}

.pictureAqib
{
  width:51px;
  height:51px;
  background-image: url(aqib.jpg);
  float: left;
  margin: 10px;
}

.pictureBogdan
{
  width:51px;
  height:51px;
  background-image: url(bogdan.jpg);
  float: left;
  margin: 10px;
}

.pictureIhsan
{
  width:51px;
  height:51px;
  background-image: url(ihsan.jpg);
  float: left;
  margin: 10px;
}

.pictureKaarel
{
  width:51px;
  height:51px;
  background-image: url(kaarel.jpg);
  float: left;
  margin: 10px;
}



.personName
{
  font-family:Helvetica;
	font-size: 15px;
	font-weight:bold;
	text-align:center;
	margin-top: 17px;
	margin-bottom:10px;
	float: center;
}
  

.getStarted
{
  color:#14537E;
  margin-left:378px;
  margin-top: 6px;
  font-family: helvetica;
  font-size: 26px;
  margin-bottom: 40px;
}

.start
{
  
  margin-left:250px;
  margin-top: 6px;
  font-family: helvetica;
  font-size: 20px;
  margin-bottom: 70px;
}

	
.selectGroup ul
{
  display: inline;
  list-style: none;
  color: #14537E;
	font-family: helvetica;
	text-decoration: none;
	margin-left: 138px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.selectGroup ul li
{
  display: inline;
  list-style: none;
  color: #14537E;
	font-family: helvetica;
	text-decoration: none;
	margin-top: 100px;
}

.selectGroup a
{
  
  display: inline;
  list-style: none;
  color: #14537E;
	font-family: helvetica;
	text-decoration: none;
	margin-right: 30px;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #CCC;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 60px;

	
}

.selectGroup
{
  margin-bottom: 60px;
}


.selectGroup a:hover
{
  
  display: inline;
  list-style: none;
  color: #14537E;
	font-family: helvetica;
	text-decoration: none;
	margin-right: 30px;
	font-weight: bold;
	font-size: 20px;
	border: 1px solid #CCC;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 60px;
	background-color: #D3D3D3;
	
}
	

	
	
